<%- include("partials/header")%>
<h1>Campgrounds</h1>
<a href="/campgrounds/new">Add your own campground</a>
<%camps.forEach(function(camp){%>
    <div>
        <p><%=camp.name%></p>
        <img src=<%=camp.image%> alt="Camp">
    </div>
<%});%>
<%- include("partials/footer")%>
