<%- include("./partials/header.ejs")%>

<div class="container mt-5">
    <div class="alert alert-warning rounded-0" role="alert">
        <h4 class="alert-heading">PAGE NOT FOUND!</h4>
        <p>The page you are looking for either doesn't exist or might not be reachable right now.</p>
        <hr>
        <p class="mb-0">Click here to get back to <a href="/">YelpCamp</a></p>
      </div>    
</div>

<%- include("./partials/footer.ejs")%>