<%- include("./partials/header")%>

<div class="container text-center">
    <div class="row">
        <div class="col-10 col-md-6 pb-4 my-4 mx-auto border border-dark rounded-0">
            <h1>Sign Up</h1>
            <form action="/register" method="POST">
                <input class="form-control mb-3" type="text" name="username" placeholder="Username">
                <input class="form-control mb-3" type="password" name="password" placeholder="Password">
                <button class="btn btn-outline-primary btn-block rounded-0">Sign Up</button>
            </form>
        </div>
    </div>
</div>

<%- include("./partials/footer")%>